In [1]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [2]:
init_db()

2021-07-23 14:43:18,366 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-23 14:43:18,372 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("data")
2021-07-23 14:43:18,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-23 14:43:18,372 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("data")
2021-07-23 14:43:18,372 INFO sqlalchemy.engine.Engine [raw sql] ()
2021-07-23 14:43:18,380 INFO sqlalchemy.engine.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	"Vessel" VARCHAR,
	"Carrier" VARCHAR,
	"Voyage" VARCHAR,
	"Pod" VARCHAR,
	"ETA" VARCHAR,
	"Berthing" VARCHAR,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2021-07-23 14:43:18,380 INFO sqlalchemy.engine.Engine [no key 0.00125s] ()
2021-07-23 14:43:18,388 INFO sqlalchemy.engine.Engine COMMIT

In [3]:
date = datetime.date.today()
date

datetime.date(2021, 7, 23)

In [4]:
row=Data(Vessel="aaa",Carrier="bbb",Voyage="ccc",Service="ddd",Pod="eee",ETA="fff",Berthing="ggg")

In [5]:
row

In [6]:
row.Vessel

'aaa'

In [7]:
db_session.add(row)

In [8]:
db_session.commit()

2021-07-23 14:43:19,094 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-23 14:43:19,101 INFO sqlalchemy.engine.Engine INSERT INTO data ("Vessel", "Carrier", "Voyage", "Pod", "ETA", "Berthing", timestamp) VALUES (?, ?, ?, ?, ?, ?, ?)
2021-07-23 14:43:19,101 INFO sqlalchemy.engine.Engine [generated in 0.00307s] ('aaa', 'bbb', 'ccc', 'eee', 'fff', 'ggg', '2021-07-23 14:43:18.334493')
2021-07-23 14:43:19,109 INFO sqlalchemy.engine.Engine COMMIT

In [9]:
db_session.query(Data).all()

2021-07-23 14:43:19,205 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2021-07-23 14:43:19,213 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data."Vessel" AS "data_Vessel", data."Carrier" AS "data_Carrier", data."Voyage" AS "data_Voyage", data."Pod" AS "data_Pod", data."ETA" AS "data_ETA", data."Berthing" AS "data_Berthing", data.timestamp AS data_timestamp
FROM data
2021-07-23 14:43:19,213 INFO sqlalchemy.engine.Engine [generated in 0.00241s] ()

In [10]:
db_session.close()

2021-07-23 14:43:19,326 INFO sqlalchemy.engine.Engine ROLLBACK