In [1]:
from selenium import webdriver
import pandas as pd

In [2]:
header=['vessel','carrier','voyage No.','service','POD', 'ETA','Berthing']
df_original = pd.DataFrame(columns=header)
browser  = webdriver.Edge('assets/msedgedriver.exe')

portname = {3:"仙台",13:"東京",11:"横浜",30:"清水",35:"名古屋",40:"大阪",41:"神戸",70:"門司"}

In [3]:
port = [13,11,30,35,40,41,70] #東京,横浜,清水,名古屋,大阪,神戸,門司 wanhai
week = [1,2,3,4,5]

carrier = 'wanhai'
for k in range(len(port)):
    pod = portname[port[k]]
    for s in range(len(week)):
        url = 'https://www.toyoshingo.com/wanhai/index.php?port={0}&week={1}'.format(port[k],week[s])
        browser.get(url)

        count = len(browser.find_elements_by_class_name('vesselname'))

        for i in range(count):
            elem_vessel = browser.find_elements_by_class_name('vesselname')
            elem_vessel[i].click()
            elem_content_body = browser.find_element_by_tag_name('tbody')
            elems_content=elem_content_body.find_elements_by_tag_name('tr')

            vessel = [elem_content.text.replace("本船名(運航者)","") for elem_content in elems_content if "船名" in elem_content.text]
            if len(vessel)==0:
                vessel=["NA"]
            voyage = [elem_content.text.replace("Voyage No.(輸入/輸出)","") for elem_content in elems_content if "Voyage" in elem_content.text]
            if len(voyage)==0:
                voyage=["NA"]

            service = [elem_content.text.replace("サービス(Service)","") for elem_content in elems_content if "Service" in elem_content.text]
            if len(service)==0:
                service=["NA"]

            arrival = [elem_content.text.replace("入港時間(Arrival)","") for elem_content in elems_content if "Arrival" in elem_content.text]
            if len(arrival)==0:
                arrival=["NA"]                

            berthing = [elem_content.text.replace("着岸時間(Berthing)","") for elem_content in elems_content if "Berthing" in elem_content.text]
            if len(berthing)==0:
                berthing=["NA"]

            df_newrow =pd.DataFrame(data= [[vessel[0],carrier,voyage[0],service[0],pod,arrival[0],berthing[0]]],columns=header)

            df_original = pd.concat([df_original,df_newrow],axis=0)
            browser.back()

In [4]:
port = [13,11,35,40,41,70] #東京,横浜,名古屋,大阪,神戸,門司 Tslines
week = [1,0]

carrier = 'tslines'

for k in range(len(port)):
    pod = portname[port[k]]
    for s in range(len(week)):
        url = 'https://www.toyoshingo.com/tslines/index.php?port={0}&week={1}'.format(port[k],week[s])
        browser.get(url)

        
        count = len(browser.find_elements_by_class_name('vesselname'))

        for i in range(count):
            elem_vessel = browser.find_elements_by_class_name('vesselname')
            elem_vessel[i].click()
            elem_content_body = browser.find_element_by_tag_name('tbody')
            elems_content=elem_content_body.find_elements_by_tag_name('tr')

            vessel = [elem_content.text.replace("船名(Vessel Name)","") for elem_content in elems_content if "船名" in elem_content.text]
            if len(vessel)==0:
                vessel=["NA"]

            voyage = [elem_content.text.replace("Voyage","") for elem_content in elems_content if "Voyage" in elem_content.text]
            if len(voyage)==0:
                voyage=["NA"]

            service = [elem_content.text.replace("航路(Route)","") for elem_content in elems_content if "航路" in elem_content.text]
            if len(service)==0:
                service=["NA"]

            arrival = [elem_content.text.replace("港外日(Arrival)","") for elem_content in elems_content if "Arrival" in elem_content.text]
            if len(arrival)==0:
                arrival=["NA"]                

            berthing = [elem_content.text.replace("着岸日(Berthing)","") for elem_content in elems_content if "着岸日" in elem_content.text]
            if len(berthing)==0:
                berthing=["NA"]

            df_newrow =pd.DataFrame(data= [[vessel[0],carrier,voyage[0],service[0],pod,arrival[0],berthing[0]]],columns=header)

            df_original = pd.concat([df_original,df_newrow],axis=0)
            browser.back()

In [5]:
port = [13,11,35,40,41] #東京,横浜,名古屋,大阪,神戸 Maerrk
week = [1,0]
carrier = 'maersk'

for k in range(len(port)):
    pod = portname[port[k]]
    for s in range(len(week)):
        url = 'https://www.toyoshingo.com/maersk/index.php?port={0}&week={1}'.format(port[k],week[s])
        browser.get(url)

        
        count = len(browser.find_elements_by_class_name('vesselname'))

        for i in range(count):
            elem_vessel = browser.find_elements_by_class_name('vesselname')
            elem_vessel[i].click()
            elem_content_body = browser.find_element_by_tag_name('tbody')
            elems_content=elem_content_body.find_elements_by_tag_name('tr')
            
            vessel = [elem_content.text.replace("船名(Vessel Name)","") for elem_content in elems_content if "船名" in elem_content.text]
            if len(vessel)==0:
                vessel=["NA"]
            
            voyage = [elem_content.text.replace("Voyage[Import/Export]","") for elem_content in elems_content if "Voyage" in elem_content.text]
            if len(voyage)==0:
                voyage=["NA"]

            service = [elem_content.text.replace("航路(Route)","") for elem_content in elems_content if "航路" in elem_content.text]
            if len(service)==0:
                service=["NA"]
                
            arrival = [elem_content.text.replace("港外日(Arrival)","") for elem_content in elems_content if "港外日" in elem_content.text]
            if len(arrival)==0:
                arrival=["NA"]                

            berthing = [elem_content.text.replace("着岸日(Berthing)","") for elem_content in elems_content if "着岸日" in elem_content.text]
            if len(berthing)==0:
                berthing=["NA"]

            df_newrow =pd.DataFrame(data= [[vessel[0],carrier,voyage[0],service[0],pod,arrival[0],berthing[0]]],columns=header)

            df_original = pd.concat([df_original,df_newrow],axis=0)
            browser.back()

In [6]:
port = [3,13,11,35,40,41] #仙台,東京,横浜,名古屋,大阪,神戸 OOCL
week = [1,2,3,4]
carrier = 'oocl'

for k in range(len(port)):
    pod = portname[port[k]]
    for s in range(len(week)):
        url = 'https://www.toyoshingo.com/oocl/index.php?port={0}&week={1}'.format(port[k],week[s])
        browser.get(url)

        
        count = len(browser.find_elements_by_class_name('vesselname'))

        for i in range(count):
            elem_vessel = browser.find_elements_by_class_name('vesselname')
            elem_vessel[i].click()
            elem_content_body = browser.find_element_by_tag_name('tbody')
            elems_content=elem_content_body.find_elements_by_tag_name('tr')
            
            vessel = [elem_content.text.replace("船名(Vessel Name)","") for elem_content in elems_content if "船名" in elem_content.text]
            if len(vessel)==0:
                vessel=["NA"]
                
            voyage = [elem_content.text.replace("Voyage[Import/Export]","") for elem_content in elems_content if "Voyage" in elem_content.text]
            if len(voyage)==0:
                voyage=["NA"]

            service = [elem_content.text.replace("航路(Route)","") for elem_content in elems_content if "航路" in elem_content.text]
            if len(service)==0:
                service=["NA"]

            arrival = [elem_content.text.replace("入港時間(Arrival)","") for elem_content in elems_content if "Arrival" in elem_content.text]
            if len(arrival)==0:
                arrival=["NA"] 

            berthing = [elem_content.text.replace("着岸日(Berthing)","") for elem_content in elems_content if "着岸日" in elem_content.text]
            if len(berthing)==0:
                berthing=["NA"]

            df_newrow =pd.DataFrame(data= [[vessel[0],carrier,voyage[0],service[0],pod,arrival[0],berthing[0]]],columns=header)

            df_original = pd.concat([df_original,df_newrow],axis=0)
            browser.back()

In [7]:
port = [3,13,11,35,40,41] #仙台,東京,横浜,名古屋,大阪,神戸 EVG
week = [1,2,3,4,5]
carrier = 'evergreen'

for k in range(len(port)):
    pod = portname[port[k]]
    for s in range(len(week)):
        url = 'https://www.toyoshingo.com/evergreen/index.php?port={0}&week={1}'.format(port[k],week[s])
        browser.get(url)

        
        count = len(browser.find_elements_by_class_name('vesselname'))

        for i in range(count):
            elem_vessel = browser.find_elements_by_class_name('vesselname')
            elem_vessel[i].click()
            elem_content_body = browser.find_element_by_tag_name('tbody')
            elems_content=elem_content_body.find_elements_by_tag_name('tr')
            
            vessel = [elem_content.text.replace("本船 Vessel","") for elem_content in elems_content if "本船" in elem_content.text]
            if len(vessel)==0:
                vessel=["NA"]
                
            voyage = [elem_content.text.replace("Voyage","") for elem_content in elems_content if "Voyage" in elem_content.text]
            if len(voyage)==0:
                voyage=["NA"]

            service = [elem_content.text.replace("サービス Service","") for elem_content in elems_content if "Service" in elem_content.text]
            if len(service)==0:
                service=["NA"]

            arrival = [elem_content.text.replace("入港時間 Arrival","") for elem_content in elems_content if "Arrival" in elem_content.text]
            if len(arrival)==0:
                arrival=["NA"] 

            berthing = [elem_content.text.replace("着岸時間 Berthing","") for elem_content in elems_content if "Berthing" in elem_content.text]
            if len(berthing)==0:
                berthing=["NA"]

            df_newrow =pd.DataFrame(data= [[vessel[0],carrier,voyage[0],service[0],pod,arrival[0],berthing[0]]],columns=header)

            df_original = pd.concat([df_original,df_newrow],axis=0)
            browser.back()

In [8]:
df_original

,vessel,carrier,voyage No.,service,POD,ETA,Berthing
0,CAPE FARO (WHL),wanhai,N022 / E022,IA3,東京,2021/07/05 12:51,2021/07/05 13:33
0,NYK DEMETER (ONE),wanhai,/ S096,JSM,東京,2021/07/06 07:02,2021/07/06 07:47
0,WAN HAI 317 (WHL),wanhai,N185 / S185,JTS,東京,2021/07/08 05:50,2021/07/08 06:28
0,OOCL DALIAN (OOCL),wanhai,N661 / S662,NS1,東京,2021/07/10 18:09,2021/07/10 18:56
0,SEASPAN EMERALD (ONE),wanhai,/ S254,JSM,東京,2021/07/11 16:52,2021/07/11 17:47
...,...,...,...,...,...,...,...
0,EVER CORE (3FHV8),evergreen,1824-024N / 1829-025S,NSA,神戸,2021/08/07,2021/08/07
0,NORDMAAS (5BHU5),evergreen,------ / 131S,IA88,神戸,2021/08/08,2021/08/08
0,WAN HAI 281 (9VJM5),evergreen,N189 / S189,JTH,神戸,2021/08/05,2021/08/05
0,NYK VEGA (3EIJ5),evergreen,------ / 072E,PS1(E),神戸,2021/08/08 07:00,2021/08/08 08:00
0,TOKYO TOWER (MAQJ),evergreen,0120-044N / 0123-045S,JCH,神戸,2021/08/05,2021/08/05

In [10]:
df_original.to_csv("C:\\Users\\ksnkr\\anaconda3\\envs\\py01env\\work\\app\\assets\\vessel_schedule.csv",index= False)

In [ ]:
browser.quit()